<template>
    <div id="above">
        <h1>איפה זה?</h1>
        <img class="pakar" src="../assets/images/Pakar.svg" alt="logo"/>
        <p>כלי מתקדם לאיתור קבצים</p>
        <p>באתר זה תוכלו לאתר קבצים על פי נושאים לבחירתכם</p>
        <input v-model="queryObj.name" type="text" name="text" id="text" placeholder="חיפוש..." class="search">
        <p>ניווט על פי תחום עניין</p>
        <form class="optionsToChoose" @submit.prevent="handleSubmit">
          <div class="oneOption">
          <div class="options">
            <div class="oneOption" v-for="(select, index) in selects" :key="index">
                 <p class="name">{{hebrewParams[select.name]}}</p>
                 <select class="option" :name="select.name">
                        <option class="choose" value="">בחר</option>
                        <option 
                            v-for="option in select.options" 
                            :value="option"
                            :key="option"    
                        >{{option}}</option>
                 </select>
             </div>
            <img class="plus" src="../assets/images/plusss.svg" @click="addSub"/>
            <p @click="addSub" id="explaination">לחץ כדי להוסיף נושא</p>
          </div>
          </div>
        <button class="btn">חיפוש</button>
        </form>
          <div class="names">
            <div v-for="object in filteredResources" :key="object.id" :name="object.name">
                <name :object="object"  @change-page="changePage"></name>
            </div>
        </div>
        <img src="../assets/images/man.svg" alt="man" class="man"/>
    </div>
</template>

<script>
import name from '@/components/NAME.vue';

export default {
    name: "above",
    props:['dataObject', 'pageNum'],
    components: {
        name,
    },
    mounted() {
        // console.log(this.dataObject);
    },
    data() {
        return {
            hebrewParams: {
                writer: 'מחבר',
                year: 'שנה',
                subject: 'נושא'
            },
            queryParams: ['writer', 'year', 'subject'],
            queryObj:{},
            searchQuery: {},
        }
    },
    computed: {
        selects() {
            let paramSelects = []
            for (const param of this.queryParams) {
                let paramSelect = {
                    name: param,
                    options: []
                }
                for (const file of this.dataObject) {
                    // console.log(this.dataObject);
                    if (Array.isArray(file[param])) {
                        file[param].forEach(value => {
                            if (!paramSelect.options.includes(value)) {
                                paramSelect.options.push(value)
                            }
                        })
                    } else {
                        if (!paramSelect.options.includes(file[param])) {
                            paramSelect.options.push(file[param])
                        }
                    }
                }
                paramSelects.push(paramSelect)
            }

            return paramSelects
        },
        filteredResources (){
        let searchObj = this.queryObj
          
            // console.log(searchObj);

          return this.dataObject.filter(function(item){
            let bool = true
            Object.keys(searchObj).forEach(key => {
              if (!String(item[key]).includes(String(searchObj[key]))) bool = false
            })
            return bool;
          })
        }
      },
        
    methods: {
      changePage(theName) {
        this.name = theName                
        this.$emit('change-page', this.name)
     },
     addSub() {
         this.queryParams.push('subject');
        //  console.log(this.queryParams);
         
     },
     handleSubmit() {
         const selects = document.querySelectorAll('.option')
         let queryObj = {}
         selects.forEach(function(el) {
             if (el.value) {
                if (!queryObj[el.name]) {
                    queryObj[el.name] = [el.value]

                } else {
                    if (!queryObj[el.name].includes(el.value)) {
                        queryObj[el.name] = [...queryObj[el.name], el.value]
                    }
                }
             }
         });
        this.queryObj = queryObj
        this.$emit('search', queryObj)
                 

}
    }

}
</script>

<style>
@font-face {
  font-family: "hebbo";
  src: url("/src/assets/fonts/Heebo/Heebo-VariableFont_wght.ttf");
}

body {
    -webkit-user-select: none;
    margin: 0;
    font-family: "hebbo";
    direction: rtl;
    background-color: rgba(172, 172, 172, 0.219);
}

.plus {
    width: 2.5em;
    cursor: pointer;
}

#explaination {
  display: none;
  font-size: 0.7em;
  /* position: relative; */
  bottom: 5em;
  left: 6em;
}

.plus:hover + #explaination {
  display: block;
} 

#above {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
  text-shadow: 1.5px 1.5px rgb(113, 34, 240);
}

.pakar {
    width: 5em;
    height: 4em;
    position: fixed;
    top: 2%;
    right: 1%;
}

.search {
    margin: 2%;
    font-family: "hebbo";
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(113, 34, 240);
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* width: 50em; */
    margin: 2%;
    /* flex-wrap: wrap; */
}

.options > div {
    border: 1px solid rgba(128, 128, 128, 0.335);
    background-color: rgba(128, 128, 128, 0.335);
    border-radius: 8px;
    width: 7em;
    margin: 0 3em;
}

select {
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 5px;
    text-align: center;
    background-color:   rgba(128, 128, 128, 0.335); 
    font-family: "hebbo";
    cursor: pointer;
}

.man {
    height: 22em;
    margin: 2em;
}

::-webkit-input-placeholder {
    color: grey;
    text-align: center;
    font-weight: bold;
}

.names {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    margin: 1em;
}

  .btn {
        font-family: "hebbo";
        color: rgb(70 68 68);
        background-color: rgb(70 68 68);
        border: 0.5px solid rgb(70 68 68);
        /* width: 4vw; */
        height: 2.5vh;
        font-size: 1.5vh;
        text-align: center;
        border-radius: 3px;
        right: 35vw;
        cursor: pointer;
        color: white;
        margin: 3em;
    }
</style>