<template>
  <div class="modal">
      <div class="info" @click="e => e.stopPropagation()">
        <img src="../assets/images/cross.svg" class="cross"  @click="closePage"/>
        <div class="name"><h1>{{object.name}}</h1></div>
        <div class="title"><h2>קישור:</h2></div>
        <div class="link"  @click="changePage">{{object.link}}</div>
      </div>
  </div>
</template>

<script>
export default {
    name: "info",
    props: ['object', 'closePage'],
    mounted() {
        document.body.style.overflow = 'hidden';
    },
    beforeDestroy() {
        document.body.style.overflow = 'auto';
    },
    methods: {
        changePage() {
            this.$emit('changePage');
        }
    }

}
</script>

<style>

.modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 100%, .7);
}

.info {
    position: relative;
    border: 1px solid rgb(70 68 68);
    background-color: rgb(170 170 170);
    width: 20vw;
    height: 30vh;
    border-radius: 5px;
    display: flex;
    color: rgb(44, 43, 43);
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.cross {
    width: 2.5vw;
    height: 2.5vh;
    position: absolute;
    top: 1em;
    left: 1em;
    cursor: pointer;
}
.link {
    text-decoration: underline; 
    cursor: pointer;
}

</style>