<template>
  <div id="app" v-if="pageNum === 1">
    <above @change-page="updatePage"  :dataObject="data" />
    <info v-if="open" :object="object" :closePage="closePage" @changePage="changePage"/>
    <bottom />
  </div>
</template>
 
<script>
import above from '@/components/ABOVE.vue';
import bottom from '@/components/BOTTOM.vue';
import info from '@/components/INFO.vue';

export default {
name: "app",
  components: {
  above, 
  bottom,
  info,
  },
  data() {
    return {
        object: '',
        open: false,
        pageNum: 1,
        data: [{
                name: "דצמבר",
                id: 0,
                year: 2015,
                writer: "אורנית",
                subject: ['לימוד', 'הצלה', 'הגנה', 'הוראה'],
                link: "hppt/www/rrrr"
            },
            {
                name: "ינואר",
                id:1,
                year: 2016,
                writer: "זיו",
                subject: ['חילוץ', 'הצלה', 'הוראה'],
                link: "hppt/www/zzzzz"
            },
            {
                name: "פברואר",
                id:2,
                year: 2015,
                writer: "גיל",
                subject: ['חילוץ'],
                link: "hppt/www/bbbbb"
            },
            {
                name: "מרץ",
                year: 2017,
                writer: "איריס",
                subject:[ 'הצלה'],
                link: "hppt/www/bbbbb"
            },
            {
                name: "אפריל",
                id:3,
                year: 2018,
                writer: "רונית",
                subject: ['חילוץ', 'פיקוד', 'לימוד'],
                link: "hppt/www/ddddd"
            },  
            {
                name: "מאי",
                id:4,
                year: 2019,
                writer: "לימור",
                subject: ['פיקוד'],
                link: "hppt/www/aaa"
            }, 
            {
                name: "יוני",
                id:5,
                year: 2020,
                writer: "אורי",
                subject: ['הוראה'],
                link: "hppt/www/mmm"
            },
            {
                name: "יולי",
                id:6,
                year: 2021,
                writer: "אליעד",
                subject: ['חילוץ'],
                link: "hppt/www/qqqqqqq"
            },
            {
                name: "אוגוסט",
                id:7,
                year: 2022,
                writer: "אמיר",
                subject: ['הוראה'],
                link: "hppt/www/sssss"
            },
            {
                name: "ספטמבר",
                id:8,
                year: 2021,
                writer: "רון",
                subject: ['לימוד'],
                link: "hppt/www/rere"
            },
            {
                name: "אוקטובר",
                id:9,
                year: 2015,
                writer: "רוני",
                subject: ['הוראה'],
                link: "hppt/www/tttt"
            },
            {
                name: "נובמבר",
                id:10,
                year: 2017,
                writer: "נויה",
                subject: ['חילוץ'],
                link: "hppt/www/gggg"
            }],
    }
  },
   methods: {
    updatePage(object) {
    //   this.pageNum++;
      this.object = object;  
      this.open = true;    
    },
    closePage() {
        this.object = {}
        this.open = false
    },
    changePage() {
        this.pageNum++;
    }
   }
}
</script>


<style>
@font-face {
  font-family: "hebbo";
  src: url("assets/fonts/Heebo/Heebo-VariableFont_wght.ttf");
}
</style>